[submodule "lib/hagl"]
	path = external/hagl
	url = git@github.com:CHiPs44/hagl.git
	branch = chips44
[submodule "lib/hagl_hal"]
	path = external/hagl_hal
	url = git@github.com:CHiPs44/hagl_pico_vgaboard.git
	branch = main
